/*Formataçoes gerais
----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #323232;
    border:none;
}
body{
    height: 925px;
    width: 100%;
    background: linear-gradient(#252d52,#102da3,#214ac6) no-repeat;
}

textarea:focus , input:focus{
    outline: none;
}


#loguin-container{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

p{
    color: white;
}
h1{
    color: white;
    font-size: 2rem;
    padding: 50px 0 50px 0;
    
}
h3{
    color: white;
    margin-bottom: 10px;
    font-size: 1em;
}
.branco i{
    color: white;
}

#logo{
    margin-bottom: 30px;
}

/*Formatando o formulario 
------------------------------------------------------------------------*/
form{
    margin-top: 30px;
    margin-bottom: 40px;
}
 label {
     display: block;
     width: 100%;
     text-align: left;
     font-weight: bold;
     color: white;
     font-size: .9em;
     margin-bottom: 5px;
 }


 input{
     padding: 15px;
     font-size: 1rem;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     padding-left: 30px;
     
 }

 input:focus{
     border: 2px solid blue;
 }

input[type = "submit"]{
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 48%;
    cursor: pointer;
    background: #3563ff;
    color: white;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    background-repeat: no-repeat;
    
}
.empurrar{
    margin-right: 13px;
}


input[type = "submit"]:hover{
    background: #1438bb;
    border: 1px solid white;
    transition: .5s;
}

 #recuperar{
    text-align: left;
    display: block;
    font-size: .8em;
    
 }

 input.email{
background-image: url(../imagen/icone-usuario.png) ;
background-repeat: no-repeat;
background-position: 5px;
 }
input.senha{
background-image: url(../imagen/icone-cadeado.png);
background-repeat: no-repeat;
background-position: 5px;

}

 /*Formatando link
 ------------------------------------------------------------*/
 a{
     color: white;
     
 }
 .livrar{

        clear: both;
        padding-bottom: 15px;
 }

 /*Redes sociais 
 -------------------------------------------------------------*/
#social{
    margin-bottom: 15px;

}
#social i{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50px;
    line-height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.fa-facebook{
    color: #385998;
}

.fa-linkedin{
    color: #0077d5;
}
#registrer p {
    margin-bottom: 15px;
}
/*Rodape
----------------------------------------------------------------*/
#rodape{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#rodape span{
    color: white;
}